
@media  screen and ( max-width:576px ) {

   .nav ul{
        display: none;
    }
    
   

    .brand{
        width: 50%;
        padding-left: 20px;
    }
.brand .logo {
    font-size: 38px;

}
    .nav{
        width: 50%;
        border: none;
        text-align: right;
    }
    .menu{
        display: block;
        text-align: left;
    }
    .menu i{

        font-size: 2rem;
        color: white;
        margin-left: 200px;
    }
    .banner{
        flex-direction: column;
        height: auto;
        padding-left: 20px;
    }
    .banner-title h1{
        font-size:89px;
        padding-top: 70px;

    }
    .banner-para{
        font-size: 2rem;
        line-height: 2.9rem;
 
    
    }
    .banner{
        height: 1400px;
    }
    .banner-right img{
        width: 100%;
        height: 100%;
    
    }
    .join-btn, .app-btn{
        padding-top: 40px;
    }
    .join-btn button{
        width: 324px;
        height: 84px;
        font-size: 25px;
      
       
    
    }
    .app-btn button{
        width: 324px;
        height: 84px;
        font-size: 25px;
    
    }
    .banner-left{
        width: 100%;
    }
    .banner-right{
        width: 100%;
    }
    .banner-right{
        width: 45%;
        text-align: center;
        position: relative;
    }
    .banner-right img{
        width: 100%;
    
    }
    .card-2{
       
        top: 55%;
        left: -30%;  
    }
    .habit-title{
        font-size: 2.5rem;

    }
    #team{
        height: 1700px;
    }
    .habit-title{
        font-size: 52px;
        padding-bottom: 20px;
 
    }
    .habit-des{
        font-size: 28px;
        font-weight: 400;
        line-height: 38px;

    }


    .team-card{
        grid-template-columns: repeat(1, 1fr);
        gap: 80px;
    }
    .person-title{
        font-size: 37px;
    
        }
        .person-des{
            font-size: 27px;
            line-height: 37px;
     
        }

        .person-img img{ 
            width: 600px;
        }
        #team{
            height: 100%;
            padding-bottom: 300px;
        }

        .habit-title{
            font-size: 59px;

        }


    #run{
        /* width: 100%; */
        padding: 20px;
        height: 100%;
    }
    .run-left{
        width: 100%;
        padding-top: 40px;

    }
    .run-right{
        width: 100%;
        padding-bottom: 40px;
    }
    .run-content{
         height: 100%;
        flex-direction: column;
        max-width: 100%;
        padding: 70px;

     }
     .run-title{
        font-size: 69px;
        font-weight:900;
        line-height: 83px;

    }
    .run-des{
        font-size: 29px;
        line-height: 39px;
        width: 70%;
    }
    .run-right img{
        width: 100%;
    }



     #Calculator-text{
        height: 280px;
        margin-bottom: 40px;
     }

     #Calculator-text{
        padding: 10px 30px;
     }
     #Calculator-text h1{
        font-size: 70px;
        margin-bottom: 20px;
    
     }
     #Calculator-text p{
        font-size: 27px;
        line-height: 37px;
     }
   

    .calculator-container {
        flex-direction: column;
    }
    #Bmi-Calculator{
        height: 100%;
    }
    .calculator-container{
        height: 100%;
        padding-top: 50px;
        padding-bottom: 80px;
    }
    #bmi-calculator{
        height: 100%;
    }
 .Bmi-chart{
    width: 100%;
    padding-left: 40px;

 }
 .Bmi-chart h1{
    font-size: 70px;


 }
thead th{
    font-size: 37px;
    padding: 40px 100px;
}
tbody tr td{
    font-size: 34px;
    padding: 45px;
}
  #bmi-calculator{
    width: 100%;
    margin-left: 0px;
    padding: 0 20px;
 }
 #Bmi-Calculator{
   flex-direction: column;
 }

 #bmi-calculator h1{   
    font-size: 67px;
    padding-bottom: 20px;
 }
 #bmi-calculator p{   
    font-size: 32px;
    line-height: 45px;
    padding-bottom: 20px;
 }


 form{
    margin-left: 0px;
}
#bmi-calculator h1{
    margin-left: 10px;
 }
 #bmi-calculator p{
    margin-left: 10px;
}

form input, select, ::placeholder {
    font-size: 28px;
    font-weight: 400;
}
.calculate-btn button{
    width: 300px;
    height: 70px;
    font-size: 28px;
 
 }



 #membership{
    height: 100%;
    padding-bottom: 1300px;
 }
.pricing h1{
    font-size: 2rem;
    line-height: 2.7rem;
}
.membership-offer{
    flex-direction: column;
    width: 100%;
    gap: 50px;
}
.pricing h1{
    font-size: 59px;
    line-height: 75px;


 }

.plan{
width: 60%;
padding-top: 100px;
padding-bottom: 100px;
background-repeat: 90px;

}
.plan p{
    font-size: 33px;
    text-align: center;
    margin-bottom: 25px;
}
.plan h3{
    font-size: 50px;

}
.plan h2{
    font-size: 68px;

}
#month{
    font-size: 25px;
    font-weight: 400;
}

.plan-btn{
    padding: 25px 55px;
    font-size: 25px;


}

.team-member{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;



}
#our-team{
    height: 3000px;

}
.team-container{
   2700px
}
.single-person img{
    width: 100%;
    height: 100%;

}



footer{
    height: 100%;
    padding-top: 40px;
    padding-left: 40px;
    
}
.footer-content{
    flex-direction: column;
    height: 800px;
    gap: 10px;
}
.footer-left{
    width: 100%;
}
.footer-left p{
    font-size: 1rem;
    width: 40%;
    margin-top: 10px;
    margin-left: 12px;
}
.footer-right{
    width: 100%;
}
.footer-right{
    padding-left: 13px;
}
.footer-center{
    width: 100%;
    padding-left: 13px;

}
.border{
    margin: 20px 0;
}
}